mixin side-nav(patterns)
  h5 Core
  ul.jayda-side-nav.jayda-side-nav-core
    li.jayda-side-nav-list-item
      a.jayda-side-nav-link(href="#colors") Colors
      a.jayda-side-nav-link(href="#icon_fonts") Icon Fonts

  h5 Components
  ul.jayda-side-nav.jayda-side-nav-components
    each pattern, index in patterns
      //- h2= pattern[0].group
      each item in pattern
        //- ul
        li.jayda-side-nav-list-item
          a.jayda-side-nav-link(href="##{item.file}")= item.name


+side-nav(patterns)

