mixin side-nav(it)
  .ui-widget.jayda-search
    input.jayda-search-input#jayda-search-input(placeholder="Search")

  ul.jayda-side-nav.jayda-search-results

  .jayda-side-nav-list-item-default
    h5= it.core.groupName
    ul.jayda-side-nav.jayda-side-nav-core
      each item in it.core.pages
        li.jayda-side-nav-list-item
          a.jayda-side-nav-link(href="##{item.route}")= item.title

    h5 Components
    ul.jayda-side-nav.jayda-side-nav-components
      each pattern, index in it.patterns
        each item in pattern
          li.jayda-side-nav-list-item
            a.jayda-side-nav-link(href="##{item.file}")= item.name


+side-nav(it)

