// Caption: Collections allow you to group list objects together.

mixin collection(it)
  - headerClass = it.header ? 'with-header' : ''
  ul.collection(class="#{headerClass}")
    if it.header
      li.collection-header
        h4= it.header
    each item in it.items
      if item.href
        - activeClass = item.active ? 'active' : ''
        a.collection-item(href="#{item.href}" class="#{activeClass}")= item.text
      else
        li.collection-item= item.text

if patternLibrary
  // Title: Collection
  +collection({
    items: [
      {
        text: "Alvin"
      },
      {
        text: "James"
      },
      {
        text: "Alvin"
      },
      {
        text: "Alvin"
      }
    ]
  })

  // Title: Links
  +collection({
    items: [
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        active: true,
        text: "James"
      },
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        text: "Alvin"
      }
    ]
  })

  // Title: Headers
  +collection({
    header: "First Names",
    items: [
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        active: true,
        text: "James"
      },
      {
        href: "#",
        text: "Alvin"
      },
      {
        href: "#",
        text: "Alvin"
      }
    ]
  })
