mixin collection()
  ul.collection
    li.collection-item Alvin
    li.collection-item Alvin
    li.collection-item Alvin
    li.collection-item Alvin

if patternLibrary
  // Title: Collection
  +collection()
