// Caption: Footers are a great way to organize a lot of site navigation and information at the end of a page. This is where the user will look once hes finished scrolling through the current page or is looking for additional information about your website.
mixin footer(it)
  footer.page-footer
    .container
      .row
        .col.l6.s12
          h5.white-text= it.header
          p.grey-text.text-lighten-4= it.text
        .col.l4.offset-l2.s12
          h5.white-text= it.linkHeader
          ul
            each link in it.links
              li
                a.grey-text.text-lighten-3(href='#{link.href}')= link.text
    .footer-copyright
      .container
        | © 2014 Copyright Text
        a.grey-text.text-lighten-4.right(href='#!') More Links


if patternLibrary
  // Title: Footer
  // Description: Note: We use flexbox to structure our html so that the footer is always on the bottom of the page. It is important to keep the structure of your page within the 3 HTML5 tags: <code>&lt;header&gt;</code>, <code>&lt;main&gt;</code>, <code>&lt;footer&gt;</code>
  +footer({
    header: "Footer Content",
    text: "You can use rows and columns here to organize your footer content.",
    linkHeader: "Links",
    links: [
      {
        href: "#!",
        text: "Link 1"
      },
      {
        href: "#!",
        text: "Link 2"
      },
      {
        href: "#!",
        text: "Link 3"
      },
      {
        href: "#!",
        text: "Link 4"
      }
    ]
  })
