include ../../../app/components/cards/cards

h2.jayda-section-header Colors

h3 Usage

p.
 Here is a color palette based on the material design base colors. Each of these colors is defined with a base color class and an optional lighten or darken class.

h4 Background Color

p.
  To apply a background color, just add the color name and light/darkness as a class to the element.

.card-panel.teal.lighten-2
  | This is a card panel with a teal lighten-2 class

pre
  code.language-jade.
    .card-panel.teal.lighten-2
      | This is a card panel with a teal lighten-2 class

h4 Text-color

p.
  To apply a text color, just append -text to the color class like this:

.card-panel
  span.blue-text.text-darken-2 This is a card panel with dark blue text

