//- include ../../patterns/**/*

doctype html
html.jayda(lang="en")
  head
    title Jayda
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")

    link(rel="stylesheet" type="text/css" href="css/jayda.css")
    link(rel="stylesheet" type="text/css" href="../css/main.css")

  body
    header.jayda-header
      .jayda-container
        button.jayda-nav-button
          span.jayda-nav-button-row
          span.jayda-nav-button-row
          span.jayda-nav-button-row
        h1.jayda-header-logo
          a.jayda-header-logo-link(href="./") Jayda

    .jayda-side-nav-wrap.jayda-container
      //- +side-nav() loaded dynamically

    .jayda-container
      .jayda-patterns-wrap
        //- Patterns loaded dynamically

    .jayda-overlay(style="display: none")


    script(type="text/javascript" src="../bower_components/jQuery/dist/jquery.min.js")
    script(type="text/javascript" src="../bower_components/underscore/underscore-min.js")
    script(type="text/javascript" src="js/lib/director.min.js")
    script(type="text/javascript" src="js/lib/prism.js")


    script(type="text/javascript" src="../js/lib/hammer.min.js")
    script(type="text/javascript" src="../js/lib/jquery.hammer.js")


    script(type="text/javascript" src="js/jayda.js")
    script(type="text/javascript" src="js/compiled_patterns.js")
    script(type="text/javascript" src="../js/compiled_patterns.js")
    script(type="text/javascript" src="../js/app.js")
