mixin right-nav(items)
  .row
    nav
      .nav-wrapper
        .col.s12
          a.brand-logo(href='#') Logo
          ul#nav-mobile.right.hide-on-med-and-down
            each item in items
              li
                a(href="#{item.href}")= item.text

mixin left-nav(items)
  .row
    nav
      .nav-wrapper
        .col.s12
          a.brand-logo.right(href='#') Logo
          ul#nav-mobile.left.hide-on-med-and-down
            each item in items
              li
                a(href="#{item.href}")= item.text

mixin center-nav(items)
  .row
    nav
      .nav-wrapper
        .col.s12
          a.brand-logo.center(href='#') Logo
          ul#nav-mobile.left.hide-on-med-and-down
            each item in items
              li
                a(href="#{item.href}")= item.text

//- TODO: figure out why this doesn't work
mixin fixed-nav(items)
  .navbar-fixed
    .row
      nav
        .nav-wrapper
          .col.s12
            a.brand-logo(href='#') Logo
            ul#nav-mobile.left.hide-on-med-and-down
              each item in items
                li
                  a(href="#{item.href}")= item.text

if patternLibrary
  // Title: Right Aligned Links
  // Description: I am right aligned links
  +right-nav([
    {href: "sass.html", text: "Sass"},
    {href: "components.html", text: "Components"},
    {href: "javascript.html", text: "Javascript"}
  ])
  // Title: Left Aligned Links
  // Description: I am Left aligned links
  +left-nav([
    {href: "sass.html", text: "Sass"},
    {href: "components.html", text: "Components"},
    {href: "javascript.html", text: "Javascript"}
  ])
  // Title: Centered Logo
  // Description: I am a Centered brand-logo
  +center-nav([
    {href: "sass.html", text: "Sass"},
    {href: "components.html", text: "Components"},
    {href: "javascript.html", text: "Javascript"}
  ])
