mixin side-nav(patterns)
  nav
    ul#slide-out.side-nav
      each pattern, index in patterns
        h2.blue-text= pattern[0].group
        ul
          each item in pattern
            li
              a(href="##{item.file}")= item.name
    a.button-collapse.show-on-large(href='#', data-activates='slide-out')
      i.mdi-navigation-menu





//- Jayda Pattern Library Only
if jayda
  +side-nav(patterns)

if patternLibrary
  // Title: Side Nav
  // Description: I am a Side navigation
  +side-nav([
    [
      {
        "group": "CSS",
        "route": "patterns/CSS/colors.jade",
        "name": "colors"
      }
    ],
    [
      {
        "group": "components",
        "route": "patterns/components/navbar.jade",
        "name": "navbar"
      },
      {
        "group": "components",
        "route": "patterns/components/side-nav.jade",
        "name": "side-nav"
      }
    ]
  ])

