mixin side-nav(groups, patterns)
  ul.side-nav
    each group, index in groups
      h2= group
      each pattern in patterns[index]
        ul
          li
            a(href="#")= pattern.name


//- Jayda Pattern Library Only
if jayda
  +side-nav(groups, patterns)

if patternLibrary
  +side-nav(["atoms"], [[{name: "colors"}]])

