//Colors
$white = #fff

$gray-base =           #000
$gray-darker =         #000
$gray-dark =           #464547
$gray =                #666666
$gray-light =          #999999
$gray-lighter =        #cccccc


// Brand colors
$brand-primary =       #39c2d7
$brand-primary-alt =   #1a9cb0
$brand-warning =       #b22746
$brand-warning-alt =   #8f244d
$brand-success =       #a3c644
$brand-success-alt =   #7f993a

// Fonts
$fontStack = Helvetica, Arial, sans-serif
