// TODO: make a grid
.container
  padding 0 $gutter-width
  margin 0 auto
  max-width 1280px
  width 90%

.container .row
  margin-left (-1 * $gutter-width / 2)
  margin-right (-1 * $gutter-width / 2)

.section
  padding-top 1rem
  padding-bottom 1rem

  &.no-pad
    padding 0

  &.no-pad-bot
    padding-bottom 0

  &.no-pad-top
    padding-top 0

.row
  margin-left auto
  margin-right auto
  margin-bottom 20px
  cf()

  // Clear floating children
  &:after
    content ""
    display table
    clear both

  .col
    float left
    box-sizing border-box
    padding 0 ($gutter-width/2)

$totalColumns = 12

for i in (1..$totalColumns)
  .s{i}
    span(i /$totalColumns)




+above($medium-screen)
  .container
    width 85%

  for i in (1..$totalColumns)
    .m{i}
      span(i /$totalColumns)

+above($large-screen)
  .container
    width 70%

  for i in (1..$totalColumns)
    .l{i}
      span(i /$totalColumns)
