include ../components/**/*
doctype html
html(lang="en")
  head
    title= Jayda
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="Content-Type" content="text/html;charset=utf-8")

    link(rel="stylesheet" type="text/css" href="css/main.css")

  body
    .container
      h1 Your Jayda App

      h2 Start Adding Patterns!!!

      h3 View the Pattern Library:

      p
        a(href="/jayda/") Jayda Pattern Library

    script(type="text/javascript" src="bower_components/jQuery/dist/jquery.min.js")
    script(type="text/javascript" src="js/app.js")
